In [1]:
# impoting libraries 
import selenium 
import pandas as pd 
import time 
from bs4 import BeautifulSoup 
# importing selenium webdriver 
from selenium import webdriver
# importing required Exceptions which needs to handled 
from selenium.common.exceptions import NoSuchElementException
# importing request 
import requests 
from selenium.webdriver.common.by import By 
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [30]:
driver = webdriver.Chrome()

In [31]:
# opening the Wikipedia page on automated chrome browser

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [32]:
# scraping the required detaails 

Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

tags_rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//td[1]')
for i in tags_rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')
        
tags_name=driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]//td[2]')
for i in tags_name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
        
tags_artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//td[3]')
for i in tags_artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')
        
tags_publish=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//td[5]')
for i in tags_publish:
    try:
        Upload_date.append(i.text)
    except NoSuchElementException:
        Upload_date.append('-')
        
        
tags_views=driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]//td[4]')
for i in tags_views:
    try:
        Views.append(i.text)
    except NoSuchElementException:
        Views.append('-')

In [33]:
df=pd.DataFrame({'Rank':Rank,'Name Of Video':Name,'Uploder Artist':Artist,'Upload Date':Upload_date,'View In Billions':Views })
df

,Rank,Name Of Video,Uploder Artist,Upload Date,View In Billions
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

# 2.  Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
# You need to find following details: 
# A) Match title (I.e. 1 ODI) 
# B) Series 
# C) Place 
# D) Date 
# E) Time 
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [26]:
driver = webdriver.Chrome()

In [27]:
# opening the bcci page on automated chrome browser

driver.get('https://www.bcci.tv/')

In [28]:
# To search international button on web page 
search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search.click()

In [29]:
# To search All team button on web page 
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]")
search.click()

In [30]:
# To search team india  on web page 
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[7]")
search.click()

In [36]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]


tags_match=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in tags_match:
    try:
        Match_title.append(i.text)
    except NoSuchElementException:
        Match_title.append('-')
        
tags_vs=driver.find_elements(By.XPATH,' //div[@class="match-card-middle__inner d-flex justify-content-between"]')
for i in tags_vs:
    try:
        Series.append(i.text.replace('\n',' '))
    except NoSuchElementException:
        Series.append('-')
        
tags_place=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]')
for i in tags_place:
    try:
        Place.append(i.text)
    except NoSuchElementException:
        Place.append('-')
        
tags_date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in tags_date:
    try:
        Date.append(i.text)
    except NoSuchElementException:
        Date.append('-')
        
        
tags_time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in tags_time:
    try:
        Time.append(i.text)
    except NoSuchElementException:
        Time.append('-')

In [32]:
print(len(Match_title),(len(Series),(len(Place),(len(Date),(len(Date),(len(Time)))))))

8 (8, (8, (8, (8, 8))))

In [38]:
Df=pd.DataFrame({'Match Title':Match_title,'place':Place,'Series':Series,"Date":Date,'Time':Time})
Df

,Match Title,place,Series,Date,Time
0,5th ODI -,"5th ODI - R Premadasa International Stadium, C...",India vs Bangladesh,15 SEP 2023,10:30 AM WAST
1,1st ODI -,1st ODI - Punjab Cricket Association IS Bindra...,India vs Australia,22 SEP 2023,9:00 AM WAST
2,2nd ODI -,"2nd ODI - Holkar Cricket Stadium, Indore\nMatc...",India vs Australia,24 SEP 2023,9:00 AM WAST
3,3rd ODI -,3rd ODI - Saurashtra Cricket Association Stadi...,India vs Australia,27 SEP 2023,9:00 AM WAST
4,1st ODI -,"1st ODI - Barsapara Cricket Stadium, Guwahati\...",India vs England,30 SEP 2023,9:30 AM WAST
5,1st T20I -,"1st T20I - Pingfeng Cricket Field, Hangzhou\nM...",India vs TBD,3 OCT 2023,2:00 AM WAST
6,2nd ODI -,"2nd ODI - Greenfield International Stadium, Th...",India vs Netherlands,3 OCT 2023,9:30 AM WAST
7,1st ODI -,"1st ODI - MA Chidambaram Stadium, Chennai\nMat...",India vs Australia,8 OCT 2023,9:30 AM WAST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
# Url = http://statisticstimes.com/
# You have to find following details: 
# A)Rank 
# B) State 
# C) GSDP(18-19)- at current prices 
# D) GSDP(19-20)- at current prices 
# E) Share(18-19) 
# F) GDP($ billion)
# Note - From statisticstimes home page you have to reach to economy page through code.

In [9]:
driver = webdriver.Chrome()

In [10]:
# opening the statisticstimes  page on automated chrome browser

driver.get(' http://statisticstimes.com/')

In [65]:
# To search Economic button on web page 
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
search.click()

In [66]:
# Searching for Gdp india states.

gdp_india_states_search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_india_states_search.click()

In [17]:
Eco_Rank=[]
States=[]
GSDP_18_19_curr_prices =[]
GSDP_19_20_curr_prices=[]
Shares_18_19=[]
GDP_Billion_Dollars=[]


tags_rank=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[1]') # scraping for rank
for i in tags_rank:
    try:
        Eco_Rank.append(i.text)
    except NoSuchElementException:
        Eco_Rank.append('-')
        
tags_states=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[2]')
for i in tags_states:
    try:
        States.append(i.text)
    except NoSuchElementException:
        States.append('-')
        
tags_gsdp_18_19=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[4]')
for i in tags_gsdp_18_19:
    try:
        GSDP_18_19_curr_prices.append(i.text)
    except NoSuchElementException:
        GSDP_18_19_curr_prices.append('-')
        
tags_gsdp_19_20=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[3]')
for i in tags_gsdp_19_20:
    try:
        GSDP_19_20_curr_prices.append(i.text)
    except NoSuchElementException:
        GSDP_19_20_curr_prices.append('-')
        
        
tags_shares=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[5]')
for i in tags_shares:
    try:
        Shares_18_19.append(i.text)
    except NoSuchElementException:
        Shares_18_19.append('-')

tags_gdp_b=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//td[6]')
for i in tags_gdp_b:
    try:
        GDP_Billion_Dollars.append(i.text)
    except NoSuchElementException:
        GDP_Billion_Dollars.append('-')

In [23]:
df_eco=pd.DataFrame({'Rank':Eco_Rank, 'States':States,'GSDP(18-19)- at current prices ':GSDP_18_19_curr_prices,'GSDP(19-20)- at current prices':GSDP_19_20_curr_prices,'Share(18-19)':Shares_18_19,'GDP($ billion)':GDP_Billion_Dollars})
df_eco

,Rank,States,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-
33,,India,"18,886,957","20,351,013",,"2,869"

# 4. Scrape the details of trending repositories on Github.com. 
# Url = https://github.com/
# You have to find the following details: 
# A) Repository title 
# B) Repository description 
# C) Contributors count 
# D) Language used

In [8]:
driver = webdriver.Chrome()

In [9]:
# opening the github  page on automated chrome browser

driver.get(' http://github.com/')

In [10]:
# To search Open Source button on web page 
search_trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
search_trending.click()

In [ ]:
# To search Trending button on web page 
search_trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
search_trending.click()

In [17]:
# Creating empty list for the scrapped requirements

Repository_title=[]
Repository_descript=[]
Contributors_counts =[]
Language=[]



tags_title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a') # Scrapig for Repository Title
for i in tags_title:
    try:
        Repository_title.append(i.text)
    except NoSuchElementException:
        Repository_title.append('-')
        
tags_description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]//p') # Scraping Repository Description
for i in tags_description:
    try:
        Repository_descript.append(i.text)
    except NoSuchElementException:
        Repository_descript.append('-')
        
tags_counts=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][1]') # scarping Contributors counts
for i in tags_counts:
    try:
        Contributors_counts.append(i.text)
    except NoSuchElementException:
        Contributors_counts.append('-')
        
tags_languages=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]') # scaping Language 
for i in tags_languages:
    try:
        Language.append(i.text)
    except NoSuchElementException:
        Language.append('-')

In [26]:
print(len(Repository_descript),len(Repository_title),len(Contributors_counts),len(Language))

25 25 25 24

In [27]:
Repository_title

['yoheinakajima / instagraph',
 'tldraw / tldraw',
 'godotengine / godot',
 'lllyasviel / Fooocus',
 'FL33TW00D / whisper-turbo',
 'keras-team / keras',
 'd2l-ai / d2l-zh',
 'testerSunshine / 12306',
 'godotengine / godot-demo-projects',
 'nicolas-hbt / pygraft',
 'facebookresearch / nougat',
 'FlaxEngine / FlaxEngine',
 'ahmetbersoz / chatgpt-prompts-for-academic-writing',
 'chaitin / SafeLine',
 'massalabs / massa',
 'dimdenGD / OldTweetDeck',
 'makepad / makepad',
 'angular / angular',
 'mouredev / Hello-Python',
 'AykutSarac / jsoncrack.com',
 'facebook / react-native',
 'godotengine / godot-docs',
 'elementor / elementor',
 'vllm-project / vllm',
 'jedisct1 / libsodium']

In [29]:
Repository_descript

['Converts text input or URL into knowledge graph and displays',
 'a very good whiteboard',
 'Godot Engine – Multi-platform 2D and 3D game engine',
 'Focus on prompting and generating',
 'Whisper on the web - turbocharged by your GPU 🏎️',
 'Deep Learning for humans',
 '《动手学深度学习》：面向中文读者、能运行、可讨论。中英文版被70多个国家的500多所大学用于教学。',
 '12306智能刷票，订票',
 'Demonstration and Template Projects',
 'Configurable Generation of Schemas and Knowledge Graphs at Your Fingertips',
 'Implementation of Nougat Neural Optical Understanding for Academic Documents',
 'Flax Engine – multi-platform 3D game engine',
 'This list of writing prompts covers a range of topics and tasks, including brainstorming research ideas, improving language and style, conducting literature reviews, and developing research plans.',
 '一款足够简单、足够好用、足够强的免费 WAF。基于业界领先的语义引擎检测技术，作为反向代理接入，保护你的网站不受黑客攻击。',
 'The Decentralized and Scaled Blockchain',
 'Returns old TweetDeck, for free!',
 'Makepad is a creative software development platform for Rust that compiles to wasm/webGL, osx/metal, windows/dx11 linux/opengl',
 'The modern web developer’s platform',
 'Curso para aprender el lenguaje de programación Python desde cero y para principiantes. Más de 30 clases, 25 horas en vídeo, código y grupo de chat. Desde sus fundamentos hasta la creación de un API Backend con base de datos y más...',
 '✨ Innovative and open-source visualization application that transforms various data formats, such as JSON, YAML, XML, CSV and more, into interactive graphs.',
 'A framework for building native applications using React',
 'Godot Engine official documentation',
 'The most advanced frontend drag & drop page builder. Create high-end, pixel perfect websites at record speeds. Any theme, any page, any design.',
 'A high-throughput and memory-efficient inference and serving engine for LLMs',
 'A modern, portable, easy to use crypto library.']

In [30]:
Contributors_counts

['651',
 '18,376',
 '67,733',
 '11,807',
 '577',
 '59,183',
 '47,968',
 '31,358',
 '3,635',
 '301',
 '4,252',
 '4,186',
 '536',
 '4,051',
 '4,138',
 '992',
 '3,893',
 '90,191',
 '15,678',
 '25,158',
 '111,906',
 '2,565',
 '5,341',
 '6,741',
 '11,333']

In [31]:
Language

['Python',
 'TypeScript',
 'C++',
 'Python',
 'TypeScript',
 'Python',
 'Python',
 'Python',
 'GDScript',
 'Python',
 'Python',
 'C++',
 'C++',
 'Rust',
 'JavaScript',
 'Rust',
 'TypeScript',
 'Python',
 'TypeScript',
 'Java',
 'reStructuredText',
 'JavaScript',
 'Python',
 'C']

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
# You have to find the following details: 
# A) Song name 
# B) Artist name 
# C) Last week rank 
# D) Peak rank 
# E) Weeks on board 
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [37]:
driver = webdriver.Chrome()

In [38]:
# opening the bill baord  page on automated chrome browser

driver.get(' http://billboard.com/')

In [40]:
# To search home button on web page 
open_home_button=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
open_home_button.click()

In [43]:
# To open chart button on web page 
open_chart_button=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]")
open_chart_button.click()

In [52]:
# Scraping top 100 songs
for _ in range(500): # scroll the page 20 times 
        driver.execute_script("window.scrollBy(0,100)")
        
        
song_name=[]        
tags_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3 ')
for i in tags_title[0:100]:
    try:
        song_name.append(i.text)
    except NoSuchElementException:
        song_name.append('-')
        
Artist_name=[]
tags_artist= driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//li[1]//span')
for i in tags_artist[0:100]:
    try:
        Artist_name.append(i.text)
    except NoSuchElementException:
        Artist_name.append('-')
        
last_wk_rank=[]
tags_lst_rk= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[4]')
for i in tags_lst_rk[0:100]:
    try:
        last_wk_rank.append(i.text)
    except NoSuchElementException:
        last_wk_rank.append('-')
        
peak_rank=[]
tags_peak= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[5]')
for i in tags_peak[0:100]:
    try:
        peak_rank.append(i.text)
    except NoSuchElementException:
        peak_rank.append('-')
        
wk_on_board=[]
tags_board= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[6]')
for i in tags_board[0:100]:
    try:
        wk_on_board.append(i.text)
    except NoSuchElementException:
        wk_on_board.append('-')

In [56]:
print(len(song_name),len(Artist_name),len(last_wk_rank),len(peak_rank),len(wk_on_board))

100 100 100 100 100

In [55]:
df_bb = pd.DataFrame({'Song Name':song_name,'Artist Name':Artist_name,'last Week Rank':last_wk_rank,'Peak Rank':peak_rank,'Week on Board':wk_on_board})
df_bb

,Song Name,Artist Name,last Week Rank,Peak Rank,Week on Board
0,Paint The Town Red,Doja Cat,3,1,5
1,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,,,2
2,Fast Car,Luke Combs,1,1,24
3,Cruel Summer,Taylor Swift,,,18
4,Last Night,Morgan Wallen,2,2,32
...,...,...,...,...,...
95,Stand By Me,Lil Durk Featuring Morgan Wallen,,,15
96,Call Your Friends,Rod Wave,31,31,3
97,Your Heart Or Mine,Jon Pardi,,,17
98,Primera Cita,Carin Leon,55,26,2
99,S91,Karol G,,,6

# 6. Scrape the details of Highest selling novels. compare 
# A) Book name 
# B) Author name 
# C) Volumes sold 
# D) Publisher 
# E) Genre

In [2]:
driver = webdriver.Chrome()

In [3]:
# opening the theguardian  page on automated chrome browser

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
# Creating empty list for the scrapped requirements

Book_Name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]



tags_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[2]') # Scrapig for Book Name 
for i in tags_name:
    try:
        Book_Name.append(i.text)
    except NoSuchElementException:
        Book_Name.append('-')
        
tags_author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[3]') # Scraping for Author Name 
for i in tags_author:
    try:
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
        
tags_volumes=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[4]') # scarping Volumes
for i in tags_volumes:
    try:
        Volumes_sold.append(i.text)
    except NoSuchElementException:
        Volumes_sold.append('-')
        
tags_publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[5]') # scaping Publisher
for i in tags_publisher:
    try:
        Publisher.append(i.text)
    except NoSuchElementException:
        Publisher.append('-')
        
tags_genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[6]') # scaping Genre
for i in tags_genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')

In [6]:
df_b = pd.DataFrame({' Book Name': Book_Name, 'Author Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df_b

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. 
# Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: 
# A) Name 
# B) Year span 
# C) Genre 
# D) Run time 
# E) Ratings 
#F) Votes

In [34]:
driver = webdriver.Chrome()

In [35]:
# opening the imdb  page on automated chrome browser

driver.get(' https://www.imdb.com/list/ls095964455/')

In [37]:
# Scraping top 100 songs
for _ in range(500): # scroll the page 20 times 
        driver.execute_script("window.scrollBy(0,100)")



Movie_Name=[]
tags_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a') # Scrapig for Movie Name 
for i in tags_name:
    try:
        Movie_Name.append(i.text)
    except NoSuchElementException:
        Movie_Name.append('-')
        
Year_span=[]        
tags_year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//span[2]') # Scraping for Year Span
for i in tags_year:
    try:
        Year_span.append(i.text)
    except NoSuchElementException:
        Year_span.append('-')
        
Genre=[]        
tags_genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[5]') # scarping Genre
for i in tags_genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
        
        
Run_time=[]        
tags_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[3]') # scaping Run _time 
for i in tags_time:
    try:
        Run_time.append(i.text)
    except NoSuchElementException:
        Run_time.append('-')
        
Ratings=[]        
tags_ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]') # scaping Ratings
for i in tags_ratings:
    try:
        Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append('-')
        
Votes=[]        
tags_vote=driver.find_elements(By.XPATH,'//span[@name="nv"]') # scaping Votes 
for i in tags_vote:
    try:
        Votes.append(i.text)
    except NoSuchElementException:
        Votes.append('-')

In [39]:
df_m= pd.DataFrame({'Movie Name':Movie_Name,'Year Span':Year_span,'Genre':Genre,'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})
df_m

,Movie Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,203,982"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,275,583"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,045,791"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,337"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,439"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,725"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,777"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,024"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,897"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"265,942"

# 8. Details of Datasets from UCI machine learning repositories. 
# Url = https://archive.ics.uci.edu/
# You have to find the following details: 
# A) Dataset name 
# B) Data type 
# C) Task 
# D) Attribute type 
# E) No of instances 
# F) No of attribute G) Year 
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [25]:
driver = webdriver.Chrome()

In [26]:
# opening the imdb  page on automated chrome browser

driver.get(' https://archive.ics.uci.edu/')

In [27]:
# To search home button on web page 
open_show_more_datasets=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]//a[1]')
open_show_more_datasets.click()

In [37]:
# Creating empty list for the scrapped requirements

Datasets_Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributeG_year=[]


tags_name=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]') # Scrapig for Book Name
for i in tags_name:
    try:
        Datasets_Name.append(i.text)
    except NoSuchElementException:
        Datasets_Name.append('-')
        
tags_dt_ty=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"][1]//td[2]') # Scraping for Author Name
for i in tags_dt_ty:
    try:
        Data_type.append(i.text)
    except NoSuchElementException:
        Data_type.append('-')
        
        
tags_task=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//p') # scarping task
for i in tags_task:
    try:
        Task.append(i.text)
    except NoSuchElementException:
        Task.append('-')
        

tags_attribute=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"][1]//td[1]') # scaping No of Attribute
for i in tags_attribute:
    try:
        Attribute_type.append(i.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        

tags_instances=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]//span') # scaping No of instance
for i in tags_instances:
    try:
       
        No_of_instances.append(i.text)
    except NoSuchElementException:
        No_of_instances.append('-')

tags_year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"][1]//td[3]') # scaping No of attribute year 
for i in tags_year:
    try:
        No_of_attributeG_year.append(i.text)
    except NoSuchElementException:
        No_of_attributeG_year.append('-')